
@{
    ViewBag.Title = "Welcome";
}

<h2>Welcome</h2>

<form>
    <label for="name" id="name">Name</label>
    <input type="text" name="name" /><br />

    <label for="email" id="email">Email</label>
    <input type="text" name="email" /><br />

    <input type="submit" value="Submit" />
</form>
